@import url('https://fonts.googleapis.com/css?family=Roboto:100,300|Noto+Serif+JP:900');

body {
  background: url('../src/bg.png');
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-size: 1em;
  font-weight: 100;
}

.page {
  padding: 1rem;
}

.hide-show {
  opacity: 0;
}

.qcount {
  letter-spacing: 1px;
}

.score {
  letter-spacing: 1px;
  text-align: right;
}

.qcount-heading {
  margin: 4rem 0;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.intro h1 {
  font-size: 3.5rem;
  padding-bottom: 2rem;
  font-family: 'Noto Serif JP', serif;
}

.intro p {
  font-size: 1.5rem;
}

.content {
  font-family: 'Noto Serif JP', serif;
  line-height: 3.5rem;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
  margin: 3rem 0;
  padding: 0;
}

ul > li {
  margin: 1.5rem 0;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

li:hover {
  background-color: #FFF;
  color: #001D60;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.selected {
  background-color: #FFF;
  color: #001D60;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.correct {
  background-color: #1EA50D;
  border-radius: 50px;
  color: #FFF;
  transition: background-color 0.5s ease;
}

.incorrect {
  background-color: #C10C0C;
  border-radius: 50px;
  color: #FFF;
  transition: background-color 0.5s ease;
}

button {
  margin: 5rem auto;
  height: 100px;
  text-transform: uppercase;
  border-radius: 50px !important;
  border: 3px solid #FFF !important;
  letter-spacing: 0.3rem;
  font-weight: 700;
  background-color: #1d56da !important;
  box-shadow: #001D60 0px 10px 0px 0px;
}