@import url('https://fonts.googleapis.com/css?family=Roboto:100,300|Noto+Serif+JP:900');

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Noto Serif JP', serif;
  --blue: #1d56da;
  --blue-shadow: #001D60;
  --white: #FFF;
  --green: #1EA50D;
  --red: #C10C0C;
  --ls1: 1px;
}

body {
  background: url('../src/bg.png');
  font-family: var(--main-font);
  color: var(--white);
  font-size: 1em;
  font-weight: 100;
}

.page {
  padding: 1rem;
}

.hide-show {
  opacity: 0;
}

.qcount {
  letter-spacing: var(--ls1);
}

.score {
  letter-spacing: var(--ls1);
  text-align: right;
}

.qcount-heading {
  margin: 4rem 0;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.intro {
  font-size: 4rem;
  padding-bottom: 3rem;
}

.intro > span {
  font-family: var(--secondary-font);
}

.content {
  font-family: var(--secondary-font);
  line-height: 3.5rem;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
  margin: 3rem 0;
  padding: 0;
}

ul > li {
  margin: 1.5rem 0;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

li:hover {
  background-color: var(--white);
  color: var(--blue-shadow);
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.selected {
  background-color: var(--white);
  color: var(--blue-shadow);
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.correct {
  background-color: var(--green);
  border-radius: 50px;
  color: var(--white);
  transition: background-color 0.5s ease;
}

.incorrect {
  background-color: var(--red);
  border-radius: 50px;
  color: var(--white);
  transition: background-color 0.5s ease;
}

button {
  margin: 5rem auto;
  height: 100px;
  text-transform: uppercase;
  border-radius: 50px !important;
  border: 3px solid var(--white) !important;
  letter-spacing: 0.3rem;
  font-weight: 700;
  background-color: var(--blue) !important;
  box-shadow: var(--blue-shadow) 0px 10px 0px 0px;
}